
  .setCardWidth {
    width: 50%;
    background-color: black; 
  }
  .signInCard
  {
      margin-left: 500px;
  }

  .cardImageHeight
  {
    height: 270px;
  }
  
  .btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
  
.btn-hover {
  width: 100px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 350% 200%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.input-field{
 color:white;
}
